body {
	margin: 0px;
	background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828; background-size:16px 16px; font-size: 0.95em; font-family: Verdana; , SunSans-Regular, Sans-Mono;  color:#C0C0C0;
//  background-color: #88aaff20;	
}

a { 
  // text-decoration: none; 
  color: white;
} 
ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 12%;
  background-color: #b1b1b1;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-size: 20px
}

ul.sidenav li a {
  display: block;
  color: #000;
  padding: 16px 16px;
  text-decoration: none;
}
 
ul.sidenav li a.active {
  background-color: #4CAF50;
  color: white;
}

ul.sidenav li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  /* background-color: #66666610; */
  margin-left: 12%;
  padding: 1px 16px; 
  height: auto;
  overflow: auto;
  float: bottom
}

div.mainbar {
  background-color: #30303040;
  border-radius: 15px;  
  margin-top: 0%;  
  margin-left: 12%;
  margin-right: 10%;
  height: 100px;
}

div.imageContent {
  margin-left: 12%;
  height: 300px;
}

div.spacer {
  height: 20px;     
}

div.spacer200 {
  height: 200px;     
}

div.gallery {
  margin: 5px;
  background-color: #30303060;
  border-radius: 2px;  
  float: left;
  height: auto;  
  width: 620px;
}

div.gallery:hover {
  background-color: #30303090;
}

div.gallery img {
  /*
   * 2 * padding und width sollen zusammen gallery.width ergeben, dann wird das Bild mittig zentriert. */
  padding: 10px;
  width: 600px;
}

div.gallery2 {
  margin: 5px;
  background-color: #30303060;
  border-radius: 2px;  
  float: left;
  height: auto;  
  width: 320px;
}

div.gallery2:hover {
  background-color: #30303090;
}

div.gallery2 img {
  /*
   * 2 * padding und width sollen zusammen gallery.width ergeben, dann wird das Bild mittig zentriert. */
  padding: 10px;
  width: 300px;
}

div.desc {
  padding: 5px;
  font-family: arial, sans-serif;
  text-align: center; 
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
}

td, th {
  border: 1px solid #8a8a8a;
  text-align: left;
  padding: 8px;
  background: #404040; 
  color: #e6e6e6;
}

tr:nth-child(even) {
  /* background-color: #dddddd; */
	background-color: #aaaaaa;  
}

@media screen and (max-width: 900px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  ul.sidenav li a {
    float: left;
    padding: 15px;
  }
  
  div.content {margin-left: 5px;}
  div.mainbar {margin-left: 5px;}
  div.imageContent {margin-left: 5px;}
  div.gallery {float: none; }
}

@media screen and (max-width: 400px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
  }

}